/* This file is where css selectors for the component go.
   There will be hard coded properties and properties controlled by variables, for example

   chart-orientation-control .chart-orientation-control-value-text {
   color: var(--chart-orientation-control-value-text-color);
   display: inline-block;
	 }
*/

chart-orientation-control:not(.oj-complete){
  visibility: hidden;
}

/* chart-orientation-control{
	min-height: 50px;
	width: 50px;
} */